# Compiled Object files
*.o
*.obj
*.bin
*.gguf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
.di
__dummy.html
docs/
build/
*-master/

# Code coverage
*.lst
